


.main_box_01 {
    clear: both;
    margin: 10px 50px 10px 50px;
    background-image: url("../graphic/work_graphic.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30px;
    padding: 20px;
}

.inner_box_of_main_box_01{
    text-align: center;
    background-color: aliceblue;
    max-width: 200px;
    height: 200px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.inner_box_of_main_box_01_choice_01{
    background-color: rgb(201, 137, 137);
    font-size: 25px;
}

.inner_box_of_main_box_01_choice_02{
    font-size: 25px;
    margin-top: 5px;
    background-color: rgb(201, 132, 132);
}


.inner_box_of_main_box_02_05_01{
    float: left;
}

.inner_box_of_main_box_02_05_02{
    float: left;
}
.inner_box_of_main_box_02_05_03{
    clear: both;
}

.main_box_02 {

    margin: 10px 50px 10px 50px;
    
}

.inner_box_of_main_box_02_01 {
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
}
.inner_box_of_main_box_02_02 {
    float: left;
    border: 1px solid black;
}

.inner_box_of_main_box_02_03 {
    border: 1px solid black;
    float: left;
    margin-left: 370px;
}
.inner_box_of_main_box_02_04 {
    border: 1px solid black;
    float: left;
    margin-left: 410px;
}
.inner_box_of_main_box_02_05 {
    float: right;
    border: 1px solid black;
}



