{%extends 'base.html'%}
{% block title%} Dodaj poprzedni zawód{% endblock%}
{% block body%}
    {% include 'navbar.html'%}

    {%if messages%}
    {%for message in messages%}
        <p>{{message}}</p>
    {%endfor%}
    {% endif %}

    <div><a href="{% url 'employer_profile_update' employer.id %}">Edytuj dane</a></div>
    <div><a href="{% url 'employer_add_job_post' employer.id%}">dodaj propozycje</a></div>
    <hr>
    <img class="profile_img" src="{{employer.company_pic.url}}" width="200px">
          <ul>{{employer.company_name}}</ul>
          <ul>{{employer.company_address}}</ul>
          <ul>{{employer.company_description}}</ul>

          <hr>

          <table>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Wymagania</th>
                <th>Edytuj</th>
            </tr>
            {% for post in job_posts%}
            <tr>
                <th>{{post.title}}</th>
                <th>{{post.description}}</th>
                <th>{{post.requirements}}</th>
                <th><a href="{% url 'employer_edit_job_post' employer.id post.id%}">Edytuj</a></th>
            </tr>
            {%endfor%}
          </table>

{%endblock%}