<div class="footer_div">
    <div class="footer_box_01" style="float: left;">
        <ul>
            <li>Punkt pierwszy</li>
            <li>Regulamin</li>
            <li>Polityka Cookies</li>
            <li>Właśność intelektualna</li>
        </ul>
    </div>
    <div class="footer_box_02" style="float: left;">                
        <ul>
            <li>O Nas</li>
            <li>Idea</li>
            <li>Kariera</li>
            <li>Blog</li>
        </ul>
    </div>
    <div class="footer_box_03" style="float: left;">                
        <ul>
            <li>Społeczność</li>
            <li>link</li>
            <li>link</li>
            <li>link</li>
        </ul>
    </div>
    <div class="footer_box_04" style="float: left;">                
        <ul>
            <li>Kontakt</li>
            <li>link</li>
        </ul>
    </div>
</div>