{%extends 'base.html'%}
{% block title%} Match Job {% endblock%}
{% block body%}
    <header>
        {% include 'navbar.html'%}
    </header>
 <main>
    {% if uesr.employee%}
    <p> xxx</p>
    {% endif%}
    {%if messages%}
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
    {% endif %}
    <div class="main_box_01">
        <div class="inner_box_of_main_box_01" style="border:1px solid black;">
            <h2>Szukam</h2>
            <p>Pracy na wakacje</p>
            <p>Pracownika na wakacje</p>
            <a href="{% url 'registration_choice'%}"><p>Rejestracja</p></a>
        </div>
    </div>



    <div class="main_box_02">
        <h2>Jak to działa?</h2>
        <div class="inner_box_of_main_box_02" style="border:1px solid black;">
            <a href="{% url 'registration_choice'%}"><p>Rejestracja</p></a>
        </div>
    </div>


 </main>
    <footer>
        {% include 'footer.html'%}
    </footer>
{% endblock%}