{%extends 'base.html'%}
{% load static%}
{% block extra_css%} 
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}
{% block title%} Match Job {% endblock%}
{% block body%}
    <header>
        {% include 'navbar.html'%}

    </header>
 <main>
    {% if uesr.employee%}
    {% endif%}
    {%if messages%}
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
    {% endif %}
    <div class="main_box_01">
        <div class="inner_box_of_main_box_01" >
            <h2>Szukam</h2>
            <form method="post">
                {% csrf_token%}
                <input type="radio" name="job_choice" value="employee">
                <label for="html">Pracy na wakacje</label><br>
                <input type="radio" name="job_choice" value="employer">
                <label for="css">Pracownika na wakacje</label><br>
                <input type="submit" value="utwórz konto">
            </form>

        </div>
    </div>

    <div class="main_box_02">
        <div class="inner_box_of_main_box_02_01">
            Jak to działa?
        </div>
        <div class="inner_box_of_main_box_02_02">guzik</div>
        <div class="inner_box_of_main_box_02_03" >
            <a href="{% url 'registration_choice'%}"><p>Rejestracja</p></a>
        </div>
        <div class="inner_box_of_main_box_02_04">info</div>
        <div class="inner_box_of_main_box_02_05">guzik</div>
    </div>


 </main>
    <footer>
        {% include 'footer.html'%}
    </footer>
{% endblock%}