<div class="header_box_01">

    <div class="inner_box_of_header_box_01">
        <a href="{% url 'home'%}"> Match Job</a>
    </div>
    {% if '/login' not in request.path %}
    <div class="inner_box_of_header_box_02">
        {%if request.user.is_authenticated%}
            <a href="{% url 'logout'%}"><div class="logout">Wyloguj się</div></a>
            {% if user_role == 'employee'%}
                <a href="{% url 'employee_profile' user_role_model.id%}"><div class="profile">Profil</div></a>
                {% elif user_role == 'employer'%}
                <a href="{% url 'employer_profile' user_role_model.id %}"><div class="profile">Profil</div></a>
            {% endif%}
        {% else %}
            <a href="{% url 'login'%}"><div class="login">Zaloguj się</div></a>
        {% endif%}
    </div>
    {%endif %}
</div>